<div class="logo">
    <img src="../assets/images/logo.png" alt="Square One Coffee Roasters Logo">
</div>
<button class="cart-btn">
    <img src="../assets/images/cart.svg" alt="Shopping Cart">
    <span class="cart-badge">0</span>
</button>
<div class="menu-group">
    <button class="menu-btn">
        <img src="../assets/images/fold.svg" alt="Fold Menu">
    </button>
    <nav class="main-menu">
        <ul>
            <li><a href="./shop.html">Shop</a></li>
            <li><a href="./index.html">About</a></li>
            <li><a href="./index.html">Rialto Cafe</a></li>
            <li><a href="./index.html">Wholesale</a></li>
            <li><a href="./index.html">Project</a></li>
            <li><a href="./index.html">Contact</a></li>
        </ul>
    </nav>
</div>