 <!-- Cart Overlay -->
 <div class="cart-overlay"></div>
 <!-- Cart Drawer -->
 <aside class="cart-drawer">
     <nav class="cart-menu">
      <!-- Sidebar will be injected here by js -->
     </nav>
     <div class="cart-vertical-divider"></div>
     <div class="cart-items">
       <div class="cart-products">
         <p>Your cart is empty.</p>
       </div>
       <div class="cart-divider"></div>
       <div class="cart-checkout">
         <div class="subtotal-row">
           <span>Subtotal:</span>
           <span class="subtotal-amount">A$0</span>
         </div>
         <button class="checkout-btn">CHECKOUT</button>
       </div>
     </div>
 </aside>