 <!-- Cart Overlay -->
 <div class="cart-overlay"></div>
 <!-- Cart Drawer -->
 <aside class="cart-drawer">
     <nav class="cart-menu">
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="Square One Coffee Roasters Logo">
      </div>
      <button class="cart-btn">
        <img src="../../assets/images/cart.svg" alt="Shopping Cart">
      </button>
      <div class="menu-group">
          <button class="menu-btn">
              <img src="../../assets/images/fold.svg" alt="Fold Menu">
          </button>
          <nav class="main-menu">
              <ul>
                  <li><a href="/pages/index.html">About</a></li>
                  <li><a href="/pages/index.html">Rialto Cafe</a></li>
                  <li><a href="/pages/index.html">Wholesale</a></li>
                  <li><a href="/pages/index.html">Project</a></li>
                  <li><a href="/pages/index.html">Contact</a></li>
              </ul>
          </nav>
      </div>
     </nav>
     <div class="cart-vertical-divider"></div>
     <div class="cart-items">
       <div class="cart-products">
         <p>Your cart is empty.</p>
       </div>
       <div class="cart-divider"></div>
       <div class="cart-checkout">
         <div class="subtotal-row">
           <span>Subtotal:</span>
           <span class="subtotal-amount">A$0</span>
         </div>
         <button class="checkout-btn">CHECKOUT</button>
       </div>
     </div>
 </aside>